<!doctype html>
<!--[if lt IE 8]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->   <html xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ 'service.name'|trans }}</title>
	<meta name="description" content="{{ 'service.description'|trans }}">
	<meta name="author" content="Brickstorm.org">

  {# og #}
  <meta property="fb:app_id" content="307305432662524" />
  <meta property="og:title" content="{{ 'service.title'|trans }}" />
  <meta property="og:site_name" content="{{ 'service.name'|trans }}" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:description" content="{{ 'service.description'|trans }}" />
  <meta property="og:image" content="?" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ 'service.url'|trans }}" />

  {# responsive #}
	<meta name="viewport" content="width=device-width,initial-scale=1">

  {# css #}
  <link rel="stylesheet" href="{{ asset('bundles/brickstormsolidr/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/brickstormsolidr/initializr-bootstrap/css/bootstrap-responsive.min.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/brickstormsolidr/initializr-bootstrap/css/style.css') }}">
    
	<!--<link rel="stylesheet/less" href="{{ asset('bundles/brickstormsolidr/initializr-bootstrap/less/style.less') }}">-->
	<script src="{{ asset('bundles/brickstormsolidr/initializr-bootstrap/js/libs/less-1.2.1.min.js') }}"></script> 

	<link rel="stylesheet" href="{{ asset('bundles/brickstormsolidr/bootstrap-docs.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/brickstormsolidr/style.css') }}">

<style>

</style>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    {% if form is defined %}
    {% form_theme form 'BrickstormFormBundle:Form:base.html.twig' %}
    {% endif %}

    {% include 'BrickstormSolidRBundle:Main:_navbar.html.twig' %}
    <div class="container">
    </div>
    {% block header %}
    {% endblock %}

    <div class="container">

      {% block content %}
      {% endblock %}

      <hr>

      <footer>
        <p align="center">
          <a title="{{ 'cgvu'|trans }}" href="{{ path('cgvu') }}">{{ 'cgvu'|trans }}</a> ~ 
          <a title="{{ 'contact.us'|trans }}" href="{{ path('contact_us') }}">{{ 'contact.us'|trans }}</a> ~ 
          <a title="API" href="{{ path('api_intro') }}">API</a>
        </p>
        <p class="brickstorm">{{ 'brickstorm'|trans }}</p>
      </footer>

    </div> <!-- /container -->

    <script src="http:////ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('bundles/brickstormsolidr/initializr-bootstrap/js/libs/jquery-1.7.1.min.js') }}"><\/script>')</script>
    <script src="{{ asset('bundles/brickstormsolidr/jquery/jquery.color.js') }}"></script>
    
    <script src="{{ asset('bundles/brickstormsolidr/initializr-bootstrap/js/libs/bootstrap/bootstrap-transition.js') }}"></script>
    <script src="{{ asset('bundles/brickstormsolidr/initializr-bootstrap/js/libs/bootstrap/bootstrap-collapse.js') }}"></script>
    <script src="{{ asset('bundles/brickstormsolidr/initializr-bootstrap/js/libs/bootstrap/bootstrap-modal.js') }}"></script>
    <script src="{{ asset('bundles/brickstormsolidr/initializr-bootstrap/js/libs/bootstrap/bootstrap-dropdown.js') }}"></script>
    <script src="{{ asset('bundles/brickstormsolidr/initializr-bootstrap/js/libs/bootstrap/bootstrap-tooltip.js') }}"></script>
    <script src="{{ asset('bundles/brickstormsolidr/initializr-bootstrap/js/libs/bootstrap/bootstrap-tab.js') }}"></script>

    <script src="{{ asset('bundles/brickstormform/js/form.js') }}"></script>

    <script src="{{ asset('bundles/brickstormsolidr/script.js') }}"></script>

    <script>
    	/*var _gaq=[['_setAccount','UA–29589587–1'],['_trackPageview']];
    	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    	s.parentNode.insertBefore(g,s)}(document,'script'));
      */
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29589587-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    
    <!--[if lt IE 7 ]>
    	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->

  </body>
</html>