<div class="well">
{% if project.parent %}
<h1>{{ project.parent.name }} <small>
  {% for city in project.parent.cities %}
  {{ city }} ({{ city.province.country.name }})
  {% endfor %}
</small></h1>
<h2>{{ project.name }}</h2>
{% else %}
<h1>{{ project.name }} <small>
  {% for city in project.cities %}
  {{ city }} ({{ city.province.country.name }})
  {% endfor %}
</small></h1>
{% endif %}

<br/>
<p>{{ project.description }}</p>


<br/>
{% if project.children|length %}
  <table id="project-children" class="table table-bordered table-striped table-condensed">
    {% for child in project.children %}
    <tr>
    <td>
    <h3>{{ child.name }} <small>{{ child.localCost }} = {{ child.userCost }}</small></h3>
    <p>{{ child.description }}</p>
    </td>
    <td>
    <a class="btn btn-large btn-primary" href="{{ path('participate', {'id' : child.id, 'slug' : child.slug}) }}">{{ 'i.participate'|trans }} &raquo;</a>
    </td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

</div>


<p><a class="btn btn-large btn-primary" href="{{ path('participate', {'id' : project.id, 'slug' : project.slug}) }}">{{ 'i.participate'|trans }} &raquo;</a></p>
<br/>
<hr />
