<div id="social">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ 'solidr.url'|trans }}{{ app.request.getRequestUri }}" data-via="solidr" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<iframe scrolling="no" style="border: none; overflow: hidden; height: 20px; width: 100px; " src="https://www.facebook.com/plugins/like.php?api_key=422066694500806&extended_social_context=false&href={{ 'solidr.url'|trans }}{{ app.request.getRequestUri }}&layout=standard&locale=fr_FR&node_type=link&send=true&layout=button_count&extended_social_context=false&show_faces=false&width=100"></iframe>
</div>

<div class="well">

{% for area in project.areas %}
<span class="label label-{{ area.class }}">{{ area }}</span> &nbsp;
{% endfor %}

<br/>
{% if project.parent %}
<h1>{{ project.parent.name }} <small>
  {% for city in project.parent.cities %}
  {{ city }} ({{ city.province.country.name }})
  {% endfor %}
</small></h1>
<h2 class="inline-block">{{ project.name }}</h2>
{% else %}
<h1 class="inline-block">{{ project.name }} <small>
  {% for city in project.cities %}
  {{ city }} ({{ city.province.country.name }})
  {% endfor %}
</small></h1>
{% endif %}

{% if project.userCost > 0 %}
<span class="badge badge-inverse"><big>{{ project.userCost }}</big> &nbsp;<i>- &nbsp;{{ project.localCost }}</i></span>
{% endif %}

<p>{{ 'by.organization'|trans }} : <a href="{{ path('organization', {'id': project.organization.id, 'slug': project.organization.slug}) }}">{{ project.organization.name }}</a></p>


<br/>
<p class="description">{{ project.description }}</p>

<br/>
{% if project.children|length %}
  <table id="project-children" class="table table-bordered table-striped table-condensed">
    {% for child in project.children %}
    <tr>
    <td>
    <h3>{{ child.name }} <span class="badge badge-inverse"><big>{{ child.userCost }} €</big> = {{ child.localCost }}</i></span></h3>
    <p>{{ child.description }}</p>
    </td>
    <td>
    <a class="btn btn-large btn-primary" href="{{ path('participate', {'id': child.id, 'slug': child.slug}) }}">{{ 'i.participate'|trans }} &raquo;</a>
    </td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

</div>

{% if project.wanted > 0 %}
  <div class="alert">{{ 'project.state'|trans }} : {{ project.achievement/10 }}/{{ project.wanted }}
  <div class="progress progress-warning progress-striped">
    <div class="bar" style="width: {{ project.achievement }}%;"></div>
  </div>
  </div>
{% else %}
  <p class="alert">{{ 'project.permanent'|trans }}</p>
{% endif %}