<div class="well">

{% for area in project.areas %}
<span class="label label-info">{{ area }}</span> &nbsp;
{% endfor %}

<br/>
{% if project.parent %}
<h1>{{ project.parent.name }} <small>
  {% for city in project.parent.cities %}
  {{ city }} ({{ city.province.country.name }})
  {% endfor %}
</small></h1>
<h2 class="inline-block">{{ project.name }}</h2>
{% else %}
<h1 class="inline-block">{{ project.name }} <small>
  {% for city in project.cities %}
  {{ city }} ({{ city.province.country.name }})
  {% endfor %}
</small></h1>
{% endif %}

<p>{{ 'by.organization'|trans }} : <a href="{{ path('organization', {'id': project.organization.id, 'slug': project.organization.slug}) }}">{{ project.organization.name }}</a></p>

{% if project.userCost > 0 %}
<span class="badge badge-inverse"><big>{{ project.userCost }}</big> &nbsp;<i>- &nbsp;{{ project.localCost }}</i></span>
{% endif %}

<br/>
<p>{{ project.description }}</p>

<br/>
{% if project.children|length %}
  <table id="project-children" class="table table-bordered table-striped table-condensed">
    {% for child in project.children %}
    <tr>
    <td>
    <h3>{{ child.name }} <span class="badge badge-inverse"><big>{{ child.userCost }}</big> &nbsp;<i>- &nbsp;{{ child.localCost }}</i></span></h3>
    <p>{{ child.description }}</p>
    </td>
    <td>
    <a class="btn btn-large btn-primary" href="{{ path('participate', {'id': child.id, 'slug': child.slug}) }}">{{ 'i.participate'|trans }} &raquo;</a>
    </td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

</div>
