{#<p class="actions"><a class="btn" href="{{ path('payment_details', {'id': project.id, 'slug': project.slug}) }}">{{ 'participate'|trans }}</a></p>#}
<form target="paypal" class="actions" action="https://www.paypal.com/fr/cgi-bin/webscr" method="post">

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>{{ 'choose.quantity' }}</th>
    <th>{{ 'choose.occurrence' }}</th>
  </tr>
  <tr>
    <td rowspan="4">   
      <select name="quantity">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </td>
    <td>
      <a class="pull-right btn btn-primary" href="">{{ 'i.participate'|trans }}</a>
      {{ 'participate.oneshot'|trans({'%cost%': project.unitCost}) }}
    </td>
  </tr>
  <tr>
    <td>
      <a class="pull-right btn btn-primary" href="">{{ 'i.participate'|trans }}</a>
      {{ 'participate.daily'|trans({'%cost%': project.unitCost}) }}
    </td>
  </tr>
  <tr>
    <td>
      <a class="pull-right btn btn-primary" href="">{{ 'i.participate'|trans }}</a>
      {{ 'participate.weekly'|trans({'%cost%': project.unitCost}) }}
    </td>
  </tr>
  <tr>
    <td>
      <a class="pull-right btn btn-primary" href="">{{ 'i.participate'|trans }}</a>
      {{ 'participate.monthly'|trans({'%cost%': project.unitCost}) }}
    </td>
  </tr>
  <tr>
    <td>
      <a class="pull-right btn btn-primary" href="">{{ 'i.participate'|trans }}</a>
      {{ 'participate.yearly'|trans({'%cost%': project.unitCost}) }}
    </td>
  </tr>
</table>


  <!-- Specify a payment --> 
  <input type="hidden" name="cmd" value="_xclick">
  <input type="hidden" name="amount" value="{{ project.unitCost }}.00">

  <!-- Specify a reccuring payment --> 
  <input type="hidden" name="cmd" value="_xclick-subscriptions"> 
  <!-- Set the terms of the regular subscription. --> 
  <input type="hidden" name="currency_code" value="EUR"> 
  <input type="hidden" name="a3" value="{{ project.unitCost }}.00"> 
  <input type="hidden" name="p3" value="1"> 
  <input type="hidden" name="t3" value="">
  <!-- Set recurring payments until canceled. --> 
  <input type="hidden" name="src" value="1">

  <!--<input type="hidden" name="undefined_quantity" value="1">-->



  <!-- pour spécifier un bouton Acheter maintenant, utilisez la commande _xclick -->
  <input type="hidden" name="business" value="bbergstorm@gmail.com">
  <!-- Permet au client de saisir la quantité souhaitée -->
  <input type="hidden" name="item_name" value="{{ project.name }}">
  <input type="hidden" name="item_number" value="{{ project.id }}">
  <!—Aucune variable currency_code n’a été spécifiée, 
  donc le montant est supposé être en USD -->
  <! Variables de transit pour le suivi des commandes, par exemple -->
  <input type="hidden" name="custom" value="merchant_custom_value">
  <input type="hidden" name="invoice" value="AMNDRC-F-{{ project.id }}">
  <input type="hidden" name="charset" value="utf-8">
  <input type="hidden" name="no_shipping" value="1">
  <input type="hidden" name="image_url" value="https://www.amndrc.org/logo.gif">
  <input type="hidden" name="return" value="http://www.amndrc.org/thankyou.htm">
  <input type="hidden" name="cancel_return" value="http://www.amndrc.org/cancel.htm">
  <!-- N’invite pas le client à ajouter une remarque à son achat -->
  <input type="hidden" name="no_note" value="1">
  {% if action is defined %}
  <input type="submit" name="submit" value="{{ action }}" alt="{{ 'paypal.button'|trans }}">
  {% else %}
  <input type="image" src="http://images.paypal.com/images/x-click-but01.gif" name="submit" alt="{{ 'paypal.button'|trans }}">
  {% endif %}
</form>