{% extends 'BrickstormSolidRBundle::layout.html.twig' %}

{% block title %}{{ 'service.name'|trans }} - {{ 'page.title.api'|trans }}{% endblock %}

{% block content %}

<h1>{{ 'api.title'|trans }} <small>{{ 'api.small'|trans }}</small></h1>

<div class="well">
{{ 'api.pitch'|trans }}
</div>

{% endblock %}