{% extends 'BrickstormSolidRBundle::layout.html.twig' %}

{% block title %}{{ 'page.title.home'|trans }}{% endblock %}


{% block content %}

<div class="alert alert-info pull-right" style="width:300px;font-size:1.1em;">
<h6><big>Quand Internet révolutionne l'aide au développement</big></h6>
Pas de banque mondiale, pas de fond international, pas de nations unies pour soutenir les initiatives présentées ici. Pas non plus d'objectifs du millénaire. Ni de bénévoles et aucun intermédiaire entre vous et les personnes que vous aidez.
<br/>
Simplement une aide directe qui échappe à tout contrôle politique, y compris local, et qui n'induit pas pour ceux qui en bénéficient d'aliénation quelle qu'elle ce soit.
<br/><br/>
Solidr vous propose de financer directement et à votre rythme des initiatives locales que vous choisissez parmi celles recensées.
<br/>
Pour ceux que vous aidez c'est la possibilité de sortir de l'inaction, du clientélisme, de la corruption pour prendre en main leur avenir et celui de leur village.
<br/>
Pour vous c'est la garantie que votre soutient aille là où vous le décidez. Vous êtes tenu au courant des avancées par des comptes, rendus, des photos et des vidéos.
<br/><br/>
Concrètement lorsque vous financez un projet vous payez le coût réél du projet plus des frais de collecte et d'envoi d'argent. 
Soit environ 1,10€ pour 1 euro qui sert à la réalisation du projet.
<br/>
Solidr ne gagne pas d'argent sur les transaction effectuées. La plateforme se finance en faisant payer une cotisation aux organisations qui y participent.


</div>

<div class="hero-unit" style="margin-right:360px">
  <h1>{{ 'home.intro.title'|trans }}</h1>
  <br/>
  <p>{{ 'home.intro.service'|trans }}</p>
  <p>{{ 'home.intro.subscribe'|trans }}</p>
  <p>
  <i>{{ 'home.intro.launch'|trans }} :</i><br/>
  <a href="{{ path('homepage_area', {'slug':'all'}) }}" class="btn btn-large">Tout &raquo;</a>
  <a href="{{ path('homepage_area', {'slug':'agriculture'}) }}" class="btn btn-success btn-large">Agriculture &raquo;</a>
  <a href="{{ path('homepage_area', {'slug':'construction'}) }}" class="btn btn-info btn-large">Construction &raquo;</a>
  <a href="{{ path('homepage_area', {'slug':'education'}) }}" class="btn btn-warning btn-large">Education &raquo;</a>
  <a href="{{ path('homepage_area', {'slug':'social'}) }}" class="btn btn-danger btn-large">Santé / social &raquo;</a>
  </p>
</div>


<h2>{#{ 'i.participate'|trans }#} <small>{{ 'teaser.project.title'|trans }}</small></h2>
<br/>
<div id="samples">
{% for project in samples %}
<div class="btn-group">
<a class="btn" href="{{ path('project', {id: project.id, slug: project.slug}) }}">{{ 'teaser.project.pitch'|trans({'%title%': project.name, '%cost%': project.userCost}) }}</a>
<a class="btn btn-primary" href="{{ path('project', {id: project.id, slug: project.slug}) }}">{{ 'i.participate'|trans }} &raquo;</a>
</div>
<br/>
{% endfor %}
</div>

<br/>
<hr/>




{% endblock %}