{% extends 'BrickstormSolidRBundle::layout.html.twig' %}

{% block title %}{{ 'service.name'|trans }} - {{ 'page.title.home'|trans }}{% endblock %}


{% block content %}


<div class="hero-unit">
  <h1>{{ 'home.intro.title'|trans }}</h1>
  <br/>
  <p>{{ 'home.intro.service'|trans }}</p>
  <p>{{ 'home.intro.subscribe'|trans }}</p>
  <p>
  <i>{{ 'home.intro.launch'|trans }} :</i><br/>
  <a href="{{ path('homepage_area', {'slug':'all'}) }}" class="btn btn-large">Tout &raquo;</a>
  <a href="{{ path('homepage_area', {'slug':'agriculture'}) }}" class="btn btn-success btn-large">Agriculture &raquo;</a>
  <a href="{{ path('homepage_area', {'slug':'construction'}) }}" class="btn btn-info btn-large">Construction &raquo;</a>
  <a href="{{ path('homepage_area', {'slug':'education'}) }}" class="btn btn-warning btn-large">Education &raquo;</a>
  <a href="{{ path('homepage_area', {'slug':'social'}) }}" class="btn btn-danger btn-large">Santé / social &raquo;</a>
  </p>
</div>


<h2>{{ 'i.participate'|trans }} <small>{{ 'teaser.project.title'|trans }}</small></h2>
<br/>
{% for project in samples %}
<div class="btn-group">
<a class="btn" href="{{ path('project', {id: project.id, slug: project.slug}) }}">{{ 'teaser.project.pitch'|trans({'%title%': project.name, '%cost%': project.userCost}) }}</a>
<a class="btn btn-primary" href="{{ path('project', {id: project.id, slug: project.slug}) }}">{{ 'i.participate'|trans }} &raquo;</a>
</div>
<br/>
{% endfor %}

<br/>
<hr/>




{% endblock %}